body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--primary-background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent);
}

.list {
  list-style: none;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--hero-text-color);
  background: var(--accent);
  border: none;
  cursor: pointer;
  display: block;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: var(--btn-accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

:root {
  --hero-text-color: #ffffff;
  --primary-text-color: #212121;
  --black: #000000;
  --secondary-text-color: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --accent: #2196f3;
  --footer-contact-link-color: rgba(255, 255, 255, 0.6);
  --btn-accent-color: #188ce8;
  --border: #ececec;
  --example-border: #eeeeee;
  --icon-primary-color: #afb1b8;
  --footer-bg-icon-color: rgba(255, 255, 255, 0.1);
  --thumb-overlay: rgba(47, 48, 58, 0.8);
  --backdrop: rgba(0, 0, 0, 0.2);
  --modal-close-icon-border: rgba(0, 0, 0, 0.1);
  --example-overlay: rgba(33, 150, 243, 0.9);
  --form-input-border: rgba(33, 33, 33, 0.2);
  --textarea-text-color: rgba(117, 117, 117, 0.5);
  --footer-input-border: rgba(255, 255, 255, 0.3);
}

.page-header {
  border-bottom: 1px solid var(--border);
  position: relative;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-header__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.page-header__logo--black {
  color: var(--black);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 8px;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.menu-button__open:hover, .menu-button__open:focus, .menu-button__close:hover, .menu-button__close:focus {
  fill: var(--accent);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-button__close {
  display: none;
}

.menu-button.is-open .menu-button__close {
  display: block;
}

.menu-button.is-open .menu-button__open {
  display: none;
}

.menu-container {
  background-color: var(--primary-background-color);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  z-index: 1;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
    margin-left: 88px;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 95px;
    margin-right: 305px;
  }
}

.site-nav__item {
  margin-bottom: 32px;
}
.site-nav__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-bottom: 0;
    margin-right: 53px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__item:last-child {
    margin-bottom: 0px;
  }
}

.site-nav__link {
  display: block;
  text-align: start;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link--current {
  color: var(--accent);
  position: relative;
}
.site-nav__link--current::after {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    display: block;
  }
}

.navigation, .contacts-nav {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contacts-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.contacts-nav__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts-nav__item {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts-nav__item:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts-nav__item:last-child {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.contacts-nav__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .contacts-nav__link--tel {
    font-size: 12px;
    line-height: 1.17;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--secondary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__link--tel {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-nav__link--tel:hover, .contacts-nav__link--tel:focus {
    color: var(--accent);
    fill: var(--accent);
  }
}

.contacts-nav__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .contacts-nav__link--mail {
    font-size: 12px;
    line-height: 1.17;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--secondary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__link--mail {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contacts-nav__link--mail:hover, .contacts-nav__link--mail:focus {
  color: var(--accent);
  fill: var(--accent);
}

@media screen and (max-width: 767px) {
  .contacts-nav__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-nav__icon {
    margin-right: 8px;
  }
}

.soc-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .soc-nav__list {
    display: none;
  }
}

.soc-nav__item {
  margin-right: 20px;
  text-decoration: none;
}
.soc-nav__item:last-child {
  margin-right: 0;
}

.soc-nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--hero-text-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.overlay {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tel.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: var(--secondary-text-color);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tel@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tel@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    min-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tabl.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tabl.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tabl@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tabl@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg@2x.jpg");
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 24px;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--hero-text-color);
  background-color: var(--accent);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .features-list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features-list__item:not(::last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: start;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .features-list__text {
    text-align: start;
  }
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list__item {
  position: relative;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__image {
  display: block;
  width: 100%;
  height: auto;
}

.thumb__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  width: 370px;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 27px 0px;
  background: var(--thumb-overlay);
  color: var(--hero-text-color);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -15px;
  }
}

.team-list__item {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:nth-child(4n) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .team-list__item:nth-child(4n) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team-list__image {
  display: block;
  width: 100%;
}

.worker {
  padding: 30px 0;
  text-align: center;
}

.worker__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.worker__info {
  font-size: 16px;
  line-height: 1.19;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.worker-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.worker-soc__item {
  width: 44px;
  height: 44px;
}
.worker-soc__item:not(:last-child) {
  margin-right: 10px;
}

.worker-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--icon-primary-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.worker-soc__link:hover, .worker-soc__link:focus {
  background-color: var(--accent);
  fill: var(--primary-background-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -15px;
  }
}

.clients-list__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  background-color: transparent;
  fill: var(--icon-primary-color);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent);
  border: 1px solid var(--accent);
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-background-color);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-adress__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  color: var(--accent);
}
.footer-adress__logo--white {
  color: var(--hero-text-color);
}

.footer-contact__list {
  width: 231px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-contact__list {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact__list {
    margin: 0;
  }
}

.footer-contact__item {
  margin-bottom: 9px;
  text-align: center;
}
.footer-contact__item:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer-contact__item {
    text-align: start;
  }
}

.footer-contact__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--footer-contact-link-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent);
}

.footer-contact__link--map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--hero-text-color);
}

.footer-soc {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin-bottom: 0;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-left: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer-soc__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--hero-text-color);
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-soc__item {
  margin-right: 10px;
}

.footer-soc__item--invers:nth-last-child(1) {
  margin-right: 0;
}

.footer-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-bg-icon-color);
  fill: var(--hero-text-color);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent);
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 570px;
    margin-left: 93px;
    margin-right: 0;
  }
}

.footer-form__field {
  width: 100%;
  background-color: var(--hero-footer-background-color);
  color: var(--footer-contact-link-color);
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 358px;
  }
}

.footer-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-background-color);
}
@media screen and (min-width: 1200px) {
  .footer-form__label {
    text-align: start;
  }
}

.footer-form__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 0;
  background-color: var(--hero-footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--hero-text-color);
}
.footer-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contact-link-color);
}
.footer-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contact-link-color);
}
.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contact-link-color);
}
.footer-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contact-link-color);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contact-link-color);
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-bottom: 0;
  }
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  color: var(--hero-text-color);
}
@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin-left: 12px;
  }
}

.footer-form__icon {
  fill: var(--hero-text-color);
  margin-left: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
  background-color: var(--backdrop);
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px 207px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-modal {
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 480px) {
  .backdrop-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop-modal {
    width: 528px;
    height: 581px;
  }
}

.button-closed {
  position: absolute;
  top: 101px;
  right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-background-color);
}
.button-closed__icon {
  width: 18px;
  height: 18px;
  fill: var(--black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-closed__icon:hover, .button-closed__icon:focus {
  fill: var(--accent);
}
@media screen and (min-width: 480px) {
  .button-closed {
    top: 8px;
    right: 8px;
  }
}

.form {
  padding: 40px;
  width: 100%;
  height: 100%;
}
.form-title {
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.form-item__title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.form-item__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-item__input:focus-within {
  border: 1px solid var(--accent);
  outline: none;
}
.form-item__input:focus-within ~ .page-modal__icon {
  fill: var(--accent);
}

.form-item__input--text {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form-item__input--text::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-item__input--text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-item__input--text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-item__input--text::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-item__input--text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-item__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item__input:hover ~ .form-item__icon,
.form-item__input:focus ~ .form-item__icon {
  fill: var(--accent);
}

.form-item__comment {
  width: 100%;
  height: 138px;
  margin-bottom: 20px;
}

.form-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.form-item__input--box {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-item__title--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .form-item__title--box {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .form-item__title--box {
    display: block;
  }
}

.form-item__icon--box {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.form-item__input--box:checked + .form-item__icon--box {
  background-color: var(--accent);
  border-color: var(--accent);
  background-size: contain;
  background-origin: border-box;
}

.form-item__link {
  display: inline-block;
  color: var(--accent);
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 479px) {
  .form-item__link {
    margin-top: 10px;
  }
}

.form-modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 52px 10px 52px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: var(--accent);
}
.form-modal__button:hover, .form-modal__button:focus {
  background-color: var(--btn-accent-colorx);
}

.hero-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border-radius: 4px;
  background: var(--secondary-background-color);
  padding: 8px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background: var(--accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--hero-text-color);
}

.example-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.example-list__item {
  margin: 15px;
  color: var(--secondary-text-color);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-list__item:hover, .example-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  display: block;
}

.example-description {
  position: relative;
  overflow: hidden;
}

.example-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--example-overlay);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-list__item:hover .example-overlay,
.example-list__item:focus .example-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.example-overlay__text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--hero-text-color);
  padding: 63px 24px;
}

.example-border {
  border: 1px solid var(--example-border);
  border-top: none;
  padding: 20px 24px;
}

.example__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.example__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */