$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
    --hero-text-color: #ffffff;
    --primary-text-color: #212121;
    --black: #000000;
    --secondary-text-color: #757575;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --hero-footer-background-color: #2f303a;
    --accent: #2196f3;
    --footer-contact-link-color: rgba(255, 255, 255, 0.6);
    --btn-accent-color: #188ce8;
    --border: #ececec;
    --example-border: #eeeeee;
    --icon-primary-color: #afb1b8;
    --footer-bg-icon-color: rgba(255, 255, 255, 0.1);
    --thumb-overlay: rgba(47, 48, 58, 0.8);
    --backdrop: rgba(0, 0, 0, 0.2);
    --modal-close-icon-border: rgba(0, 0, 0, 0.1);
    --example-overlay: rgba(33, 150, 243, 0.9);
    --form-input-border: rgba(33, 33, 33, 0.2);
    --textarea-text-color: rgba(117, 117, 117, 0.5);
    --footer-input-border: rgba(255, 255, 255, 0.3);
}